// Place all the styles related to the Employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=submit] {
    width: 10%;
    background-color: #1639e5;
    color: white;
    padding: 10px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


